# Directories
.vs/
bin/
bin-int/
.idea/

.DS_Store

DebrisDisk/imgui.ini

# solution files
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Files
*.user
# Prerequisites
*.d
DebrisDisk/imgui.ini
